<div class="container">
<p>
  <b>Day:</b>
  <%= @day.name %>
</p>
<p>
  <b>Promotion ID:</b>
  <%= @promotion.id %>
</p>
<p>
  <b>Name:</b>
  <%= @promotion.productname %>
</p>
<p>
  <b>Description:</b>
  <%= @promotion.description %>
</p>
<p>
  <b>Picture:</b>
  <%= @promotion.picture %>
</p>
</div>