<p>
  <b>Group ID:</b>
  <%= @day.id %>
</p>
<p>
  <b>Name:</b>
  <%= @day.name %>
</p>
<p>
  <b>Is Active:</b>
  <%= @day.is_active %>
</p>
<p>
  <b>Promo Code:</b>
  <%= @day.promo_code %>
</p>

<a href="/admin/day/products/create/<%= @day.id %>">Create New Product</a>


<table border="0" cellpartding="0" cellspacing="10" class="list">
	<h2>Product List</h2>
<% @day.products.each_with_index do |group,i| %>
	<tr<%= ' class="alt"' if i%2==0 %>>
	  <td><a href="/admin/day/products/show/<%= @day.id %>/<%= group.id %>"><%= group.productname %></a></td>
	  <td><span class="label">Is Active?:</span></span><%= group.description %></span>
	  	<td><span class="label">Picture:</span></span><%= group.picture %></span>
	  <td><a href="/admin/day/products/edit/<%= @day.id %>/<%= group.id %>">edit</a></td>
	  <td><a href="/admin/day/products/delete/<%= @day.id %>/<%= group.id %>">delete</a></td>
	</tr>	
<% end %>
</table>

