<p>
  <b>ID:</b>
  <%= @day.id %>
</p>
<p>
  <b>Name:</b>
  <%= @day.name %>
</p>
<p>
  <b>Is Active:</b>
  <%= @day.is_active %>
</p>
<p>
  <b>Promo Code:</b>
  <%= @day.promo_code %>
</p>

<%= @day.products %>

