<div class="container"><p>
  <b>Day ID:</b>
  <%= @day.id %>
</p>
<p>
  <b>Name:</b>
  <%= @day.name %>
</p>
<p>
  <b>Active:</b>
  <%= @day.is_active %>
</p>
<p>
  <b>Promo Code:</b>
  <%= @day.promo_code %>
</p>

<a class="btn" href="/admin/day/products/new/<%= @day.id %>">Create New Product</a>
<a class="btn" href="/admin/day/promotions/new/<%= @day.id %>">Create New Promotion</a>


<table class="table" border="0" cellpartding="0" cellspacing="10" class="list">
	<h2>Products</h2>
	<tr>
	<th>Product</th>
	<th>Description</th>
	<th>Picture</th>
	<th>Actions</th>
	<th>Votes</th>
	<th>Debug</th>
	</tr>
<% @day.products.each_with_index do |group,i| %>
	<tr<%= ' class="alt"' if i%2==0 %>>
	  <td><a href="/admin/day/products/show/<%= @day.id %>/<%= group.id %>"><%= group.productname %></a></td>
	  <td><%= group.description %></span>
	  	<td><%= group.picture %></span>
	  <td><a class="btn" href="/admin/day/products/edit/<%= @day.id %>/<%= group.id %>">Edit</a><a class="btn btn-danger" href="/admin/day/products/delete/<%= @day.id %>/<%= group.id %>">Delete</a></td>
	  <td><a href="/admin/day/votes/show/<%= @day.id %>/<%= group.id %>"><%= group.votes.count %></a></td>
	  <td><a href="/admin/day/products/vote/<%= @day.id %>/<%= group.id %>">Vote This!</a></td>
	</tr>	
<% end %>
</table>


<table class="table" border="0" cellpartding="0" cellspacing="10" class="list">
	<h2>Promotions</h2>
	<tr>
		<th>Promotion</th>
		<th>Description</th>
		<th>Picture</th>
		<th>Actions</th>
<% @day.promotions.each_with_index do |group,i| %>
	<tr<%= ' class="alt"' if i%2==0 %>>
	  <td><a href="/admin/day/promotions/show/<%= @day.id %>/<%= group.id %>"><%= group.productname %></a></td>
	  <td><%= group.description %></span>
	  	<td><%= group.picture %></span>
	  <td><a class="btn" href="/admin/day/promotions/edit/<%= @day.id %>/<%= group.id %>">Edit</a><a class="btn btn-danger" href="/admin/day/promotions/delete/<%= @day.id %>/<%= group.id %>">Delete</a></td>
	</tr>	
<% end %>
</table>

</div>
