<div class="container">
<table class="table" border="0" cellpartding="0" cellspacing="10" class="list">
	<h2>Votes List for Product: <%= @product.productname %></h2>
<% @votes.each_with_index do |group,i| %>
	<tr<%= ' class="alt"' if i%2==0 %>>
	  <td><a href=""><%= group.email %></a></td>
	  <td><%= group.ip_address %></dd>
	  	<td><%= group.subscribed %></td>
	  	<td><%= group.username %></td>
	</tr>	
<% end %>
</table>
</div>