<div class="container">
<p>
  <b>Day:</b>
  <%= @day.name %>
</p>
<p>
  <b>Product ID:</b>
  <%= @product.id %>
</p>
<p>
  <b>Name:</b>
  <%= @product.productname %>
</p>
<p>
  <b>Description:</b>
  <%= @product.description %>
</p>
<p>
  <b>Picture:</b>
  <%= @product.picture %>
</p>
</div>